[defaults]
nocows                  = 1
roles_path              = ansible/dynamic_roles:ansible/roles
collections_path        = /runner/requirements_collections:/home/runner/.ansible/collections:/collections:/usr/share/ansible/collections
forks                   = 50
become                  = false
gathering               = smart
host_key_checking       = false
timeout                 = 60
callbacks_enabled       = ansible.posix.profile_tasks
bin_ansible_callbacks   = true
localhost_warning       = false
# Suppress Python interpreter discovery warnings
interpreter_python      = auto_silent
# Fail ansible-playbook run at first task failure
any_errors_fatal        = true

# Cache facts
fact_caching            = jsonfile
fact_caching_connection = /tmp/facts
fact_caching_timeout    = 7200

[privilege_escalation]
become                  = false
