---
apiVersion: v1
kind: Service
metadata:
  annotations:
    metallb.universe.tf/allow-shared-ip: "svc-{{ _cluster_name }}"
  name: {{ svcname }}
  namespace: {{ ai_ocp_namespace }}
spec:
  ports:
  - name: api
    port: 6443
    protocol: TCP
    targetPort: 6443
  selector:
    role: "control-plane-{{ _cluster_name }}"
  type: LoadBalancer
